<div class="main">
  <app-world-map></app-world-map>
<div  class="container" [ngClass]=" displaySignUp ? 'container right-panel-active':'container' " id="container" >

	<div class="form-container sign-up-container" >
		<form [formGroup]="signUpform" (ngSubmit)="register(signUpform.value)">
			<h1>Create Account</h1>
			<input type="text" placeholder="FirstName" formControlName="firstName"/>
      <input type="text" placeholder="LastName" formControlName="lastName"/>
      <input type="text" placeholder="CIN" formControlName="cin"/>
			<input type="email" placeholder="Email" formControlName="email"/>
			<input type="password" placeholder="Password" formControlName="password"/>
      <input type="text" placeholder="Sector" formControlName="filiere"/>
      <input type="number" placeholder="level" formControlName="niveau"/>
			<button type="submit">Sign Up</button>
		</form>
	</div>

	<div class="form-container sign-in-container" >
		<form (ngSubmit)="submit()">
			<h1>Sign in</h1>
			<input type="email"  name="email" placeholder="Email" [(ngModel)]="loginPerson.email" />
			<input type="password" name="password" placeholder="Password" [(ngModel)]="loginPerson.password" />
			<a href="#">Forgot your password?</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
  <p-messages [(value)]="msgs"></p-messages>

	<div class="overlay-container">

		<div class="overlay">

			<div class="overlay-panel overlay-left ">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn" (click)="showSignIn()">Sign In</button>
			</div>

			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp" (click)="showSignUp()">Sign Up</button>
			</div>

		</div>
	</div>
</div>




</div>
