<div class="main">
<app-world-map></app-world-map>
<div class="container">
<div class="form-container sign-up-container" >
  <form action="#">
    <h1>Contact us</h1>
    <input type="text" placeholder="Full Name" />
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Phone" />
    <input type="text" placeholder="Your Message" />
    <button>Submit</button>
  </form>
</div>

<div class="overlay-container">

  <div class="overlay">

    <div class="overlay-panel overlay-right">
      <h1>We'd love to hear from you!</h1>
      <p>Need to get in touch with us? Either fill out the form with your inquiry or find the departement email you'd like to contact below.</p>
    </div>

  </div>
</div>
</div>
</div>
