/*
header{
  background-color: #06283D;
  height:80px;
  color: white;
  text-align: center;
  display:flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  font-size: 1rem;
  position: sticky;
  padding-left: 50px;
  padding-right: 74px;
  top:0px;
  z-index: 1000;
  opacity: 0.97;


}

header .nav-bar ul{
  display: flex;
  gap: 20px;
  list-style: none;

}
header a{
  text-decoration: none;
  color: #F3E9DD;
  font-size: bold;
  font-family: 'Poppins', sans-serif;
  margin: 0px 0px 0px 15px;
  font-size: 12px;
}
header .logo{
  font-size: 24px;
  color: #F3E9DD;
  border: 1px solid #F3E9DD ;
  letter-spacing: 0.5em;
  padding: 7px;
  border-radius: 0;
  text-indent: 0.4em;
  margin-left: -719px;
} */
HTML CSSResult Skip Results Iframe
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.aling-items-center {
  align-items: center;
}
.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background-color: rgb(58, 57, 57);
}
a {
  text-decoration: none;
  color: inherit;
}
/* header start */
header {
  background-color: black;
  color: aliceblue;
  position: sticky;
  top: 0px;
  z-index: 1000;

}
header .logo {
  font-size: 40px;
  font-weight: 900;
}
header nav ul {
  list-style: none;
}
header nav > ul > li {
  font-size: 22px;
  padding: 15px 10px;
}
header nav > ul > li a span i {
  font-size: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
header nav > ul > li:hover > a {
  color: rgba(240, 248, 255, 0.595);
}
header .button {
  background-color: #fff;
  padding: 8px 14px;
  display: inline-block;
  font-size: 22px;
  font-weight: 800;
  color: black;
  border-radius: 5px;
}

header nav > ul > li:hover .drop-down {
  opacity: 1;
  visibility: visible;
}
/* main */
h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
}
p {
  text-align: center;
  font-size: 20px;
  margin-top: 18px;
}

