<header>

  <div class="logoImage">
    <img src="/assets/images/insatLogo.png" style="width:50px"/>
  </div>
  <div class="logo">
      Forcastify
  </div>
  <div class="nav-bar">
    <ul>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" >
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li> <a class="dropdown-item" href="#">Action</a></li>
        <li> <a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <li><a href="#">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#services">SERVICES</a></li>
      <li><a href="contactus">CONTACT</a></li>
      <li><a href="signin">COMPTE</a></li>
    </ul>
  </div>
</header>
